*{
	margin: 3px;
	padding: 3px;
	font-family: 'Montserrat', sans-serif;
}
body
{
	background-image: url("images/background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  width: 100%;
}
.container
{
	font-family: 'Montserrat', sans-serif;
}
.propic
{
	margin-left: 20px;
	margin-top: 20px;
	float:left;
}
.heading
{
  margin-left: 60px;
	margin-top: 20px;
  font-size: 50px;
}
.brief
{
  margin-left: 64px;
}
.work
{
  margin-left: 20px;
}
.work-heading
{
  font-size: 25px;
}
