*{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}
body
{
	background-image: url("images/watercolour background.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	width: 100%;
}
.container
{
	
	font-family: 'Montserrat', sans-serif;
}
.box-img
{
	margin-left: 20px;
	margin-top: 20px;
	width:100px;
	float:left;
}
.box-heading
{
	margin-left: 45px;
	margin-top: 20px;
	float:left;
}
.heading
{
	font-size: 50px;
}
.content-heading
{ 
	margin-top: 70px;
	margin-left: 20px;
	color: white;
}
.content-content
{
	margin-top: 70px;
	margin-left: 180px;
}
.video-link
{
	margin-left: 25px;
}
